.jum-carousel{
    padding-top: 71px;
}
.center {
    text-align: center;
}
.right {
   text-align: right;
}
.plans{
	padding-top: 40px;
	background-color: #0092E3;
	color: white;
}

.navbar-header img{
	padding-top: 16px;
	padding-left: 20px;
}
.navbar .form-control{
	width: 150px;
}

.carousel-inner {
	/*background-color: #0062c3;
	color: white;*/
	height: 90vh;
}
.carousel-inner .col-md-6 img{
	width: 400px;
}

.carousel-inner .col-md-6 .description{
	width: 400px;
	text-align: right;
	float: right;
	padding: 70px 40px 0 0;
}

.carousel-inner .item{
	height: 90vh;

}
.carousel-inner .container{
	height: 90vh;
	display: table;

}
.carousel-inner .row{
	display: table-cell;
    vertical-align: middle;

}
@media (max-width: 950px) {
	.carousel-inner .row{
		display: table;
	}
	.carousel-inner .col-md-6{
		float: left;
		margin: 0 auto;
		display: table-cell;
    	text-align: center;
    	width: 100%;
	}
	.carousel-inner .col-md-6 .description{
		text-align: center;
		padding: 0;
		width: 200px;
		margin: 0 auto;
		float: unset;
	}
	.carousel-inner .col-md-6 img{
		padding-top: 0;
		width: 50%;

	}
}
.carousel-indicators li{
	/*background-color: #333;*/
	border: 1px solid #444;
}
.carousel-indicators .active{
	background-color: #333;
	/*border: 1px solid #444;*/
}
.carousel-control{
	color: #444;
}
